version: '3.8'
services:
  nginx:
    build:
      context: ./nginx
      dockerfile: dockerfile
    ports:
      - "80:80"
    volumes:
      - ./php/app:/var/www/html/public/html
    depends_on:
      - php

  php:
    build:
      context: ./php
      dockerfile: dockerfile
#    volumes:
#      - ./app:/var/www/html/public/html

networks:
  default:
    name: internet
    driver: bridge
