version: '3.8'
services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - php

  php:
    build:
      context: ./php
      dockerfile: Dockerfile
    volumes:
      - ./app:/var/www/html
#  networks:
#    - internet
#    - localhost


networks:
  default:
    name: internet
    driver: bridge
#      config:
#        -subnet: 172.16.50.23
#       - ipv4_address: 172.16.50.23
#    name: localhost
#      driver: default
#        -subnet: 172.16.50.23
#       - ipv4_address: 127.0.0.1
